.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #443297;
}

.container {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
}
/* navbar_top */

.navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}
.navbar_top > a img {
  margin-right: 76px;
  width: 117px;
  height: 36px;
}

.navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}

.navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_box .categoty_list {
  width: 166px;
  height: 30;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid rgb(77, 71, 71);
}
.categoty_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #841e42;
}

.search_box input {
  margin: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}

.nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5c34b;
  border-radius: 0px 6px 6px 0px;
}

.search_icon_box img {
  width: 20px;
  height: 20px;
}

/* //// shu yerdan box_icon_box "&&&boc_info box ni adashgan yerim */

/* nav_top_menu */

.navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  /* help from chatgtp  
  to make top right corner in row*/
  align-items: center;
  /* help from chatgtp  
  to make top right corner in row*/
  justify-content: space-between;
}

.nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.top_menu_box .box_icon_box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;

  /*  Bu yerda row bolsa ham negadir columnga ozgarayapti */
  /* display: inline-block; */
  display: flex;

  /* VAQTINCH */
  /* flex-direction: row; */

  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.box_icon_box img {
  width: 22px;
  height: 22px;
}

.top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.box_info_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.box_info_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.box_icon_box .basket_count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -2px;
  right: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5c34b;
  border-radius: 50%;

  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  color: #881e40;
}

/* ustoz box_icon_box dedi lekin top bolishi kere menimcha */

/* navbar bottom */
.navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  border-top: 1px solid #5746a1;
}

.navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

/* first bottom part */
.navbar_bott_menu_box .browse_box {
  width: 185px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #5746a1;
}

.browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.browse_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
/* second section */
.navbar_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 690px;
  display: flex;
  flex-direction: row;
  /* added myself */
  /* justify-content: center;
  align-items: center; */
  /* added myself */
}
.navbar_route_menu .router_menu {
  /* display: inline; */
  margin-top: 20px;
  width: auto;
  height: 41px;
  display: flex;
}
.router_menu a {
  /* display: flex;
  flex-direction: row; */
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.router_menu a.active {
  color: #f5c34b;
}
/* last step */
.navbar_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}
.sorting_menu span {
  margin-left: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
